@font-face {
  font-family: "blackOps";
  src: url(/src/fonts/BlackOpsOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "manrope";
  src: url(/src/fonts/manrope.ttf) format("truetype");
}

$background-colour: rgb(22, 21, 86);
$line-colour: rgb(52, 212, 52);
$line-border: 0.5px solid $line-colour;
$cell-size: 2.5em;
$radar-size: auto;
$grid-size: calc($cell-size * 8);
$radar-font: "manrope";
$text-colour: rgb(255, 255, 255);
$hover-colour: rgb(52, 104, 33);

html {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: $background-colour;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  align-items: center;
}

#title {
  font-size: 8em;
  font-family: "manrope";
  font-weight: bold;
  color: $text-colour;
}

.radarText {
  color: $line-colour;
  font-family: $radar-font;
  font-size: 2em;
}

.ship {
  display: flex;
  margin: 1em;
  width: min-content;
  div {
    background-color: rgb(22, 146, 255);
  }
}

.cell {
  background-color: transparent;
  height: calc($cell-size);
  width: calc($cell-size);
  border: $line-border;
}

.hit {
  background-color: rgb(40, 136, 2);
}

.occupied {
  background-color: rgb(22, 146, 255);
}

.occupied.hit {
  background-color: red;
}

#game {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background-color: $background-colour;
}

#enemyBoard {
  margin: 10px;
  div {
    div {
      &:hover {
        background-color: $hover-colour;
      }
    }
  }
}

.board {
  display: flex;
}

.alert {
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    background-color: $background-colour;
    font-family: $radar-font;
    border: $line-border;
    color: $line-colour;
    height: 12em;
    width: 18em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div {
      border: none;
      margin-top: 3em;
    }
  }
}

.button {
  background-color: $background-colour;
  font-family: $radar-font;
  border: $line-border;
  color: $line-colour;
  padding: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 2em;
  &:hover {
    background-color: $hover-colour;
  }
}
