body {
  padding: 0;
  margin: 0;
  display: flex;
}

.cell {
  background-color: red;
}

.hit {
  background-color: purple;
}

.occupied {
  background-color: blue;
}

.row {
  display: flex;
}

#board {
  div {
    div {
      height: 60px;
      width: 60px;
      border: solid;

      &:hover {
        background-color: rgb(142, 19, 19);
      }
    }
  }
}

#grid {
  div {
    div {
      height: 20px;
      width: 20px;
      border: solid;
    }
  }
}
